/*========== GOOGLE FONTS ==========*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

/*========== BASE ==========*/
#root, html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}

/*========== APP ==========*/
.app {
    height: 100%;
    background: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3)), url('./images/city.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card {
    background-color: whitesmoke;
    width: 40%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1.5rem;
    padding: 2%;
    box-shadow: 10px 10px;
}

.heading {
    display: flex;
    align-items: center;
    height: 580px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.button {
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    padding: .5rem 1rem;
    opacity: 1;
    background-color: #fff;
    border: 1px solid rgba(22, 76, 167, .6);
}

.button span {
    color: #164ca7;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .7px;
}

.button:hover {
    animation: jiggle 700ms ease-in-out both;
}

.button:hover span {
    animation: wiggle 700ms ease-in-out both;
    animation-delay: 100ms;
}

/*========== ANIMATIONS ==========*/
@keyframes jiggle {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(3deg);
    }
    50% {
        transform: rotate(-3deg);
    }
    75% {
        transform: rotate(1deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes wiggle {
    0% {
        transform: translate3d(0, 0, 0);
    }
    25% {
        transform: translate3d(4px, 0, 0);
    }
    50% {
        transform: translate3d(-3px, 0, 0);
    }
    75% {
        transform: translate3d(2px, 0, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

/*========== MEDIA QUERIES ==========*/
@media screen and (max-width: 600px) {
    .card {
        width: 80%;
        height: 30%;
    }
}